.catalogue {
  padding-top: 2rem;
  &-item {
    // border-bottom: 1px solid $grey-2;
    border-radius: 2px;
    color: $default-color;
    display: inline-block;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    box-sizing: border-box;
    // -webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
    // box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
    transition: all .2s ease-in-out;


    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
      border-top: .2rem solid $point-red;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-color;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .2s ease-out);
    border-top: .2rem solid $default-color;
    display: block;
    border-radius: 0 3px;
    width: 2rem;
  }
}
